/*Ajustes de imagem de fundo, centralização de texto, espaçamento entreg outros*/
h1{
    background-image: url(../img/pink.png);
    text-align: center;
    padding: 10px;
}

h2{
    border-bottom: 2px solid violet;
    margin-top: 30px;
}

p{
    padding: 0 45px;text-indent: 15px;
}

figure{
    text-align: center;
    padding: 15px;
    margin: 30px;
}

/*Tamanho e largura da imagem*/
img{
    width: 200px;
    height: 200px;
}

/*Foto de perfil da página*/
#foto{
    margin-left: 250px;
    margin-right: 450px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px black;
}

/*Ajustes para os botões da página principal, contato, conteudo e blog*/
.menu-opcoes{
    position: absolute;
    top: 0%;
    right: 1%;
}

.menu-opcoes a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-radius: 3px;
    background: linear-gradient(5deg, violet, grey);
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}

.menu-opcoes ul{
    font-size: 20px;
}

/* Link e estilização da redes sociais*/
.social li a[href*=github]{
    width: 50px;
    height: 50px;
    background-image: url(../img/github.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    margin-top: 50px;
    border-radius: 50px;
}

.social li a[href*=instagram]{
    width: 50px;
    height: 50px;
    background-image: url(../img/instagram.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    margin-top: 50px;
    border-radius: 60px;
}

.social li a[href*=linkedin]{
    width: 50px;
    height: 50px;
    background-image: url(../img/linkedin.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    margin-top: 50px;
    border-radius: 50px;
}

.social{
    position: absolute;
    right: 10px;
}

.social li{
    float: left;
    margin: 20px;
}

/*Nenhum outro elemento poderá ser posicionado nem à direita, nem à esquerda, do elemento recebendo esta propriedade*/
footer{
    clear: both;
}

/*Deixa a priemira letra em negrito*/
p:first-letter{
    font-weight: bold;
}

/*Permite ajustar o recuo do texto dentro de um elemento*/
h2+p{
    text-indent: 0px;
}

/*Deixa em letra minuscula*/
p::first-line{
    font-variant: small-caps;
}

/*Ajustes para o video*/
video{
    width: 50%;
    height: auto;
}

/*Pega tudo que está dentro do body*/
html, body{
    width: 100%;
    height: 100%;
}

/*Faz a estilização do que está dentro da class*/
.container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

/*Imagem de fundo para página*/
body{
    background-image: url(../img/fundoright1.png);
}

/*Estilização de altura, largura, posição, margim*/
.imglogo{
    width: 80px;
    height: 80%;
    float: left;
    margin-top: 50px;
    border-radius: 20px;
}

#imglogo{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    float: left;
}