/*Ajustes para os botões da página principal, contato, conteudo e blog*/
.menu-opcoes ul{
    font-size: 20px;
}

.menu-opcoes a{
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   border-radius: 3px;
   background: linear-gradient(5deg, violet, grey);
}

.menu-opcoes a:hover{
    color: blueviolet;
}

.menu-opcoes a:active{
    color: burlywood;
}

/*Estiliza o que ta no body com a fonte, cor, tamanho e altura*/
html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    width: 100%;
    height: 100% ;
}

/*Faz a estilização do que está dentro da class*/
.container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

/*Ajustes para os botões da página principal, contato, conteudo e blog*/
.menu-opcoes{
    position: absolute;
    top: 0%;
    right: 0%;
}
.menu-opcoes ul li{
    display: inline;
    margin-left: 20px
}

/*Ajustes para altura, largura e bordas na imagem*/
#imglogo{
    width: 80px;
    height: 80%;
    border-radius: 20px;
}

/*Estilização para os paineis,shadow é a sombra*/
.painel{
    width: 48%;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px brown;
}

/*Linear gradiente vai dar o efeito da cor de migração uma para outra*/
.aula1{
    float: left;
    background-color: violet;
    background: linear-gradient(5deg, violet, grey);
}

.aula2{
    float: right;
    background-color: violet;
    background: linear-gradient(5deg, grey, violet);
}

.aula8{
    float: left;
    background-color: violet;
    background: linear-gradient(5deg, violet, grey);
}

.aula15{
    float: right;
    background-color: violet;
    background: linear-gradient(5deg, grey, violet);
}

/*Estilização para os paineis*/
.painel li{
    display: inline-block;
    width: 10%;
    vertical-align: top;
    margin: 2px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.painel li:hover{
    box-shadow: 10px 10px 5px whitesmoke;
    transition: 0.7s;
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.2);
    rotate: -5deg;
}

.painel h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-shadow: 5px 5px 5px rgba(190, 250, 200, 0.8);
}

.painel a{
    color: black;
    font-size: 10px;
    text-align: center;
}

/* Link e estilização da redes sociais*/
.social li a[href*=github]{
    width: 50px;
    height: 50px;
    background-image: url(../img/github.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    margin-top: 50px;
    border-radius: 50px;
}

.social li a[href*=instagram]{
    width: 50px;
    height: 50px;
    background-image: url(../img/instagram.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    margin-top: 50px;
    border-radius: 60px;
}

.social li a[href*=linkedin]{
    width: 50px;
    height: 50px;
    background-image: url(../img/linkedin.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    margin-top: 50px;
    border-radius: 50px;
}

.social{
    position: absolute;
    right: 10px;
}

/*Nenhum outro elemento poderá ser posicionado nem à direita, nem à esquerda, do elemento recebendo esta propriedade e também a altura*/
footer{
    clear: both;
    height: 15%;
}

.social li{
    float: left;
    margin: 20px;
}

/*Imagem de fundo para página*/
body{
    background-image: url(../img/fundoright1.png);
}

/*Imagem do exercicio com altura e largura*/
.imgexer{
    width: 90%;
    height: 90%;
}

header{
    height: 20%;
}

main{
    height: 65%;
}

.destaque img{
    width: 30%;
    height: 30%;
   
}

.destaque{
    text-align: center;
    background-size: contain;
}

.imglogo{
    width: 80px;
    height: 80%;
    margin-top: 50px;
    border-radius: 20px;
}
