body{
    font-family: cursive;
}

#esquerdo{
    background-color: tomato;
    float: left;
    width: 49%;
    height: 500px
}

#esquerdo h1{
    color: yellow;
    text-align: center;
}

#direito{
    float: right;
    width: 49%;
    height: 500px   
}

table th, td {
    border-bottom: 2px solid black;
}

img{
    width: 250px;
    height: 300px  
}

p{
    text-align: center;
}