.container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.container a[href*=instagram]{
    color: pink;
}

.container a[href*=linkedin]{
    color: green;
}

.container a[href*=github]{
    color: blue;
}